.ico{
  &-vk{
    display: inline-block;
    width: 25px;
    height: 20px;
    margin: 0 5px;
    background: url("../assets/img/ico/icon_vk.svg")no-repeat center;
    background-size: contain;
  }
  &-insta{
    display: inline-block;
    width: 25px;
    height: 20px;
    margin: 0 5px;
    background: url("../assets/img/ico/icon_inst.svg")no-repeat center;
    background-size: contain;
  }
}