@media screen and (max-width: 1199px){
  .header__navigation__nav ul li{
    margin-right: 12px;
  }
  .header__item{
    flex-grow: 1;
  }
  .header__navigation__call-back{
    flex-grow: 2;
  }
  .header__navigation__catalog ul li{
    min-width: 50%;
    margin: 4px 0;
  }
  .header__shower__wrapp{
    height: 500px;
  }
  .header__shower{
    margin-bottom: 60px;
  }
  .footer__body__logo a{
    padding: 0 20px;
  }
  .slider__full-screen__control{
    width: 60%;
  }
  .about-cur__block__body span{
    width: 14%;
  }
  .about-cur__block__body p{
    width: 85%;
  }
  .user-private__body__history-buy__order__body__item {
    .item{
      &__name{
        width: 35%;
      }
      &__size{
        width: 15%;
      }
      &__fix-price{
        width: 15%;
      }
      &__price{
        width: 15%;
      }
      &__value{
        width: 15%;
      }
    }
  }
  .loyalty-program__block h2{
    padding: 0 160px;
  }
  .loyalty-program__block > p{
    padding: 0 200px;
  }
  .loyalty-program__block__body > div > p{
    padding: 0 5px;
  }
}
@media screen and (max-width: 991px){
  .header__item{
    order: 2;
  }
  .header__navigation__call-back{
    order: 0;
  }
  .header__navigation__nav{
    order: 0;
  }
  .header__navigation__tel{
    order: 1;
  }
  .header__navigation__user{
    order: 1;
    justify-content: flex-end;
  }
  .mobil-collapse.collapse{
    display: none;
  }
  ul.mobil-collapse.collapsing{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px 15px;
    left: 0;
    top: 40px;
    overflow: hidden;
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #ddd4e1;
    }
  }
  .mobil-collapse.show{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mobil-collapse.collapsing{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mobil-collapse__btn{
    display: block;
  }
  ul.mobil-collapse{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px 15px;
    left: 0;
    top: 40px;
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #ddd4e1;
    }
  }
  .mobil-collapse ul.mobil-collapse__sub-menu{
    display: flex;
  }
  .header__navigation__tel:before{
    width: 0;
  }
  .header__navigation__tel{
    text-align: center;
  }
  .header__navigation__tel .header__navigation__tel__link{
    margin: 0 auto;
  }
  .header__navigation__user__profile{
    font-size: 0!important;
  }
  .header__navigation__user__basket{
    font-size: 0!important;
  }
  .header__navigation__user ul li{
    margin-left: 12px;
  }
  .header__navigation__catalog ul li{
    min-width: 33%;
  }
  .comment-about__slider__item{
    flex-direction: column;
  }
  .comment-about__slider__item__avatar{
    width: 40%;
  }
  .comment-about__slider__item__info{
    padding-top: 20px;
  }
  .comment-about__slider__item__info__time{
    text-align: center;
  }
  .comment-about__slider__item__info__user{
    text-align: center;
  }
  .content-block__body.column-mod .content-block__body__card__img{
    padding: 0 25px 0 0;
  }
  .footer__body__nav ul li{
    min-width: 100%;
  }
  .slider__full-screen__control{
    width: 95%;
    bottom: 50%;
    transform: translate(-50%,50%);
    justify-content: space-between;
    ul{
      display: none;
    }
  }
  .about-cur__block__body span{
    width: 18%;
  }
  .about-cur__block__body p{
    width: 81%;
  }
  .content-block__header form{
    justify-content: center;
  }
  .register span.w-3-to-1{
    width: 32%;
  }
  .register form > div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .user-private ul.nav-tabs{
    border-right: none;
    border-bottom: 1px solid $c-purple;
    flex-direction: row;
  }
  .user-private li.nav-item{
    width: auto;
    flex-grow: 1;
  }
  .user-private__header{
    padding-top: 25px;
  }
  .user-private{
    padding-bottom: 0;
  }
  .loyalty-program__block h2{
    padding: 0 40px;
  }
  .loyalty-program__block > p {
    padding: 0 80px;
  }
}
@media screen and (max-width: 767px){
  .header__navigation__catalog ul li{
    min-width: 50%;
    margin: 1px 0;
  }
  .content-block__header > a{
    top: auto;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
  .content-block__header{
    padding-bottom: 25px;
  }
  .footer__body__contact__tel{
    font-size: 24px;
    white-space: nowrap;
  }
  .footer__body__contact p{
    margin-bottom: 15px;
  }
  .footer__body__nav ul li{
    margin-bottom: 5px;
  }
  .about-cur__block__body span{
    width: 25%;
  }
  .about-cur__block__body p{
    width: 74%;
  }
  .user-private__body__history-buy__order__body__item {
    .item{
      &__name{
        width: 35%;
      }
      &__size{
        width: 14%;
      }
      &__fix-price{
        width: 17%;
      }
      &__price{
        width: 20%;
      }
      &__value{
        width: 14%;
      }
    }
  }
  .user-private__body__history-buy__order__footer p{
    margin-right: 0;
    width: 25%;
  }
  .user-private__body__history-buy__order__footer span{
    margin-right: 0;
    width: 25%;
  }
  .page-404__label-link{
    justify-content: center;
    display: flex;
    margin-top: 30px;
  }
  .page-404 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .loyalty-program__block h2{
    padding: 0;
  }
  .loyalty-program__block > p {
    padding: 0;
  }
}
@media screen and (max-width: 574px){
  .mobil-collapse__sub-menu .header__navigation__tel__link{
    display: block!important;
  }
  .mobil-collapse ul.mobil-collapse__sub-menu{
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    padding-top: 10px;
  }
  .mobil-collapse ul.mobil-collapse__sub-menu li{
    margin-bottom: 4px;
  }
  .catalog-collapse.collapse{
    display: none;
  }
  .catalog-collapse__btn{
    display: block;
  }
  .catalog-collapse.show{
    display: block;
  }
  ul.catalog-collapse{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 20px;
    &:before{
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      background-color: #e5e5e5;
      width: 100%;
      height: 100%;
    }
  }
  .comment-about__slider__item__avatar{
    width: 80%;
  }
  .content-block__body.column-mod .content-block__body__card{
    flex-direction: column;
    align-items: center!important;
  }
  .content-block__body.column-mod .content-block__body__card__img{
    width: 60%;
    margin-bottom: 20px;
  }
  .content-block__body.column-mod .content-block__body__card__info__time{
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .content-block__body.column-mod .content-block__body__card__info__title{
    width: 100%;
    text-align: center;
  }
  .footer__subscribe form{
    flex-wrap: wrap;
  }
  .footer__subscribe__input{
    margin: 0 0 12px 0;
  }
  .footer__subscribe__submit{
    width: 100%;
  }
  .footer__subscribe__submit input{
    width: 100%;
  }
  .footer__body__contact p{
    text-align: center;
    margin-top: 15px;
  }
  .footer__body__contact__tel{
    text-align: center;
  }
  .footer__body__contact__mail{
    text-align: center;
    margin-bottom: 15px;
  }
  .footer__body__contact__social{
    justify-content: center;
  }
  .footer__body__nav ul{
    padding: 0;
  }
  .footer__body__nav ul li{
    min-width: 35%;
  }
  .footer__body__nav ul li:nth-child(2n){
    margin-left: auto;
  }
  .footer__body{
    padding-top: 40px;
  }
  .footer__subscribe{
    padding: 40px 0 80px 0;
  }
  .footer__body__catalog > a{
    display: none;
  }
  .footer-catalog-collapse__btn{
    display: block;
  }
  .footer__body__catalog ul{
    text-align: center;
  }
  .footer-catalog-collapse.collapse{
    display: none;
  }
  .footer__body__catalog{
   padding-top: 40px;
  }
  .footer-catalog-collapse.show{
    display: block;
  }
  .about-us__video__wrap{
    padding: 25px;
  }
  .about-us__video__wrap:before{
    left: 5px;
    top: 5px;
  }
  .about-us__video__wrap:after{
    right: 5px;
    bottom: 5px;
  }
  .about-cur__block__body span{
    width: 30%;
  }
  .about-cur__block__body p{
    width: 69%;
  }
  .header__navigation__catalog ul li a{
    white-space: normal;
  }
  .content-block__header form{
    background-color: $c-pink-ghost;
    height: 38px;
    justify-content: flex-start;
  }
  .content-block__header form > a{
    flex-grow: 1;
    height: 100%;
    line-height: 36px;
    text-align: center;
  }
  .content-block__header form div.drop-filter{
    text-align: center;
    width: 65%;
    background-color: #ddd4e1;
  }
  .btn__purple{
    width: 100%;
  }
  .user-private__body__history-buy__order__body__item {
    flex-wrap: wrap;
    .item{
      &__name{
        width: 65%;
        order: 1;
      }
      &__size{
        width: 33%;
        order: 2;
      }
      &__fix-price{
        width: 33%;
        order: 2;
      }
      &__price{
        width: 35%;
        order: 1;
      }
      &__value{
        width: 33%;
        order: 2;
      }
    }
  }
  .user-private__body__history-buy__order__footer{
    flex-wrap: wrap;
  }
  .user-private__body__history-buy__order__footer p{
    width: 50%;
    margin-bottom: 8px;
  }
  .user-private__body__history-buy__order__footer span{
    width: 50%;
    margin-bottom: 8px;
  }
  .user-private ul.nav-tabs{
    flex-direction: column;
  }
  .user-private li.nav-item{
    width: 100%;
  }
  .page-404 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .page-404__label-link a{
    width: 155px;
    height: 155px;
    flex-shrink: 0;
  }
  .page-404__content > div{
    padding-left: 0;
    padding-right: 0;
  }
  .loyalty-program{
    padding-bottom: 0;
  }
}