@media screen and (max-width: 1199px){
  .header__navigation__nav ul li{
    margin-right: 12px;
  }
  .header__item{
    flex-grow: 1;
  }
  .header__navigation__call-back{
    flex-grow: 2;
  }
  .header__navigation__catalog ul li{
    min-width: 50%;
    margin: 4px 0;
  }
  .header__shower__wrapp{
    height: 500px;
  }
  .header__shower{
    margin-bottom: 60px;
  }
  .footer__body__logo a{
    padding: 0 20px;
  }
}
@media screen and (max-width: 991px){
  .header__item{
    order: 2;
  }
  .header__navigation__call-back{
    order: 0;
  }
  .header__navigation__nav{
    order: 0;
  }
  .header__navigation__tel{
    order: 1;
  }
  .header__navigation__user{
    order: 1;
    justify-content: flex-end;
  }
  .mobil-collapse.collapse{
    display: none;
  }
  .mobil-collapse.show{
    display: block;
  }
  .mobil-collapse__btn{
    display: block;
  }
  ul.mobil-collapse{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px 15px;
    left: 0;
    top: 40px;
    &:before{
      content: "";
      position: absolute;
      width: 200vw;
      height: 100%;
      left: -100%;
      top: 0;
      background-color: white;
    }
  }
  .mobil-collapse ul.mobil-collapse__sub-menu{
    display: flex;
  }
  .header__navigation__tel:before{
    width: 0;
  }
  .header__navigation__tel{
    text-align: center;
  }
  .header__navigation__tel .header__navigation__tel__link{
    margin: 0 auto;
  }
  .header__navigation__user__profile{
    font-size: 0!important;
  }
  .header__navigation__user__basket{
    font-size: 0!important;
  }
  .header__navigation__user ul li{
    margin-left: 12px;
  }
  .header__navigation__catalog ul li{
    min-width: 33%;
  }
  .comment-about__slider__item{
    flex-direction: column;
  }
  .comment-about__slider__item__avatar{
    width: 40%;
  }
  .comment-about__slider__item__info{
    padding-top: 20px;
  }
  .comment-about__slider__item__info__time{
    text-align: center;
  }
  .comment-about__slider__item__info__user{
    text-align: center;
  }
  .content-block__body.column-mod .content-block__body__card__img{
    padding: 0 25px 0 0;
  }
  .footer__body__nav ul li{
    min-width: 100%;
  }
}
@media screen and (max-width: 767px){
  .header__navigation__catalog ul li{
    min-width: 50%;
    margin: 1px 0;
  }
  .content-block__header a{
    top: auto;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
  .content-block__header{
    padding-bottom: 25px;
  }
  .footer__body__contact__tel{
    font-size: 24px;
    white-space: nowrap;
  }
  .footer__body__contact p{
    margin-bottom: 15px;
  }
  .footer__body__nav ul li{
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 574px){
  .mobil-collapse__sub-menu .header__navigation__tel__link{
    display: block!important;
  }
  .mobil-collapse ul.mobil-collapse__sub-menu{
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    padding-top: 10px;
  }
  .mobil-collapse ul.mobil-collapse__sub-menu li{
    margin-bottom: 4px;
  }
  .catalog-collapse.collapse{
    display: none;
  }
  .catalog-collapse__btn{
    display: block;
  }
  .catalog-collapse.show{
    display: block;
  }
  ul.catalog-collapse{
    position: absolute;
    top: 100%;
    right: 15px;
    z-index: 1;
    padding: 20px 20px;
    text-align: right;
    &:before{
      content: "";
      position: absolute;
      right: -100%;
      top: 0;
      background-color: #e5e5e5;
      width: 200vw;
      height: 100%;
    }
  }
  .comment-about__slider__item__avatar{
    width: 80%;
  }
  .content-block__body.column-mod .content-block__body__card{
    flex-direction: column;
    align-items: center!important;
  }
  .content-block__body.column-mod .content-block__body__card__img{
    width: 60%;
    margin-bottom: 20px;
  }
  .content-block__body.column-mod .content-block__body__card__info__time{
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .content-block__body.column-mod .content-block__body__card__info__title{
    width: 100%;
    text-align: center;
  }
  .footer__subscribe form{
    flex-wrap: wrap;
  }
  .footer__subscribe__input{
    margin: 0 0 12px 0;
  }
  .footer__subscribe__submit{
    width: 100%;
  }
  .footer__subscribe__submit input{
    width: 100%;
  }
  .footer__body__contact p{
    text-align: center;
    margin-top: 15px;
  }
  .footer__body__contact__tel{
    text-align: center;
  }
  .footer__body__contact__mail{
    text-align: center;
    margin-bottom: 15px;
  }
  .footer__body__contact__social{
    justify-content: center;
  }
  .footer__body__nav ul{
    padding: 0;
  }
  .footer__body__nav ul li{
    min-width: 35%;
  }
  .footer__body__nav ul li:nth-child(2n){
    margin-left: auto;
  }
  .footer__body{
    padding-top: 40px;
  }
  .footer__subscribe{
    padding: 40px 0 80px 0;
  }
  .footer__body__catalog > a{
    display: none;
  }
  .footer-catalog-collapse__btn{
    display: block;
  }
  .footer__body__catalog ul{
    text-align: center;
  }
  .footer-catalog-collapse.collapse{
    display: none;
  }
  .footer__body__catalog{
   padding-top: 40px;
  }
  .footer-catalog-collapse.show{
    display: block;
  }
}