.about-us{
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/img/image_about_us.jpg")no-repeat center;
    background-size: cover;
    opacity: 0.2;
  }
  h2{
    font-family: 'Cormorant', serif;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 27px;
    color: $c-text-d;
    line-height: 34px;
    margin-bottom: 30px;
  }
  p{
    color: $c-text-d;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__video{
    position: relative;
    min-height: 1px;
    padding-top: 58%;
    margin: 40px 0;
    &__wrap{
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 35px;
      left: 0;
      top: 0;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 80%;
        height: 80%;
        border-top: 10px solid rgba(129,17,174,0.2);
        border-left: 10px solid rgba(129,17,174,0.2);
      }
      &:after{
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 80%;
        height: 80%;
        border-bottom: 10px solid rgba(129,17,174,0.6);
        border-right: 10px solid rgba(129,17,174,0.6);
      }
      &__item{
        width: 100%;
        height: 100%;
        background: url("../assets/img/video.jpg")no-repeat center;
        background-size: cover;
        position: relative;
        &:before{
          content: "";
          z-index: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          height: 60px;
          width: 60px;
          cursor: pointer;
          background: url("../assets/img/ico/icon_youtb.svg")no-repeat center;
          background-size: contain;
        }
      }
    }
  }
}
.about-cur{
  padding-top: 40px;
  padding-bottom: 40px;
  &__block{
    margin-bottom: 30px;
    h3{
      font-size: 17px;
      color: $c-text-d;
      font-weight: 500;
      margin-bottom: 14px;
    }
    &__body{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      span{
        width: 10%;
        font-size: 15px;
        color: $c-text-d;
        font-weight: 300;
        margin-bottom: 8px;
      }
      p{
        width: 89%;
        font-size: 15px;
        color: $c-text-d-6;
        font-weight: 300;
        margin-bottom: 8px;
      }
    }
  }
}