@charset "UTF-8";
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ */
/* ╨Ь╨╕╨║╤Б╨╕╨╜╤Л */
/* line 1, _btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* line 6, _btn.scss */
.btn:focus {
  outline: none;
  box-shadow: none;
}
/* line 10, _btn.scss */
.btn__to-cart {
  border-radius: 0;
  border: 0;
  background-color: #8111AE;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  width: 100%;
  height: 42px;
  line-height: 22px;
  padding: 0;
  font-weight: 300;
}
/* line 23, _btn.scss */
.btn__to-cart:hover {
  opacity: 0.6;
}
/* line 26, _btn.scss */
.btn__to-cart:after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  background: url("../assets/img/cart.svg") no-repeat center;
  background-size: contain;
  vertical-align: sub;
}

/* ╨Ъ╨╜╨╛╨┐╨║╨╕ */
/* line 2, _ico.scss */
.ico-vk {
  display: inline-block;
  width: 25px;
  height: 20px;
  margin: 0 5px;
  background: url("../assets/img/ico/icon_vk.svg") no-repeat center;
  background-size: contain;
}
/* line 10, _ico.scss */
.ico-insta {
  display: inline-block;
  width: 25px;
  height: 20px;
  margin: 0 5px;
  background: url("../assets/img/ico/icon_inst.svg") no-repeat center;
  background-size: contain;
}

/* ╨Ш╨║╨╛╨╜╨║╨╕ */
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
/* line 6, style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  overflow-x: hidden;
  background-color: #E5E5E5;
}
/* line 13, style.scss */
body a {
  color: #000000;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
}
/* line 19, style.scss */
body p {
  color: #000000;
  font-size: 16px;
  line-height: 22px;
}
/* line 24, style.scss */
body span {
  color: #000000;
  font-size: 16px;
  line-height: 22px;
}
/* line 29, style.scss */
body h1 {
  color: #000000;
  font-size: 40px;
  line-height: 53px;
}
/* line 34, style.scss */
body h2 {
  color: #000000;
  font-size: 24px;
  line-height: 32px;
}
/* line 39, style.scss */
body h3 {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}
/* line 44, style.scss */
body h4 {
  color: #000000;
  font-size: 17px;
  line-height: 22px;
}
/* line 49, style.scss */
body h5 {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}
/* line 54, style.scss */
body h6 {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
}

/* ╨б╤В╨╕╨╗╤М ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О */
/* line 2, _header.scss */
.header__item {
  margin-bottom: 25px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}
/* line 11, _header.scss */
.header__item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 18, _header.scss */
.header__item ul li {
  margin: 0;
  position: relative;
}
/* line 21, _header.scss */
.header__item ul li a {
  cursor: pointer;
}
/* line 27, _header.scss */
.header__navigation {
  position: relative;
  padding: 0;
}
/* line 30, _header.scss */
.header__navigation:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(129, 17, 174, 0.08);
}
/* line 40, _header.scss */
.header__navigation__nav ul {
  justify-content: flex-start;
}
/* line 42, _header.scss */
.header__navigation__nav ul li {
  margin-right: 18px;
}
/* line 44, _header.scss */
.header__navigation__nav ul li a {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
/* line 51, _header.scss */
.header__navigation__nav ul li a:hover {
  color: #8111AE;
}
/* line 58, _header.scss */
.header__navigation__tel {
  justify-content: flex-end;
  padding: 0 24px;
}
/* line 61, _header.scss */
.header__navigation__tel:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  opacity: 0.12;
}
/* line 72, _header.scss */
.header__navigation__tel__link {
  position: relative;
  color: #000000;
  padding-left: 20px;
  font-size: 15px;
}
/* line 77, _header.scss */
.header__navigation__tel__link:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 12px;
  min-height: 12px;
  background: url("../assets/img/phone.svg") no-repeat center;
  background-size: contain;
  opacity: 0.6;
}
/* line 89, _header.scss */
.header__navigation__tel__link:hover {
  color: #8111AE;
}
/* line 95, _header.scss */
.header__navigation__call-back ul {
  justify-content: space-between;
  width: 100%;
}
/* line 99, _header.scss */
.header__navigation__call-back ul li a {
  text-decoration: underline;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  white-space: nowrap;
}
/* line 105, _header.scss */
.header__navigation__call-back ul li a:hover {
  color: #8111AE;
  opacity: 0.3;
}
/* line 113, _header.scss */
.header__navigation__logo {
  display: block;
}
/* line 115, _header.scss */
.header__navigation__logo__wrap {
  display: block;
  max-width: 235px;
}
/* line 121, _header.scss */
.header__navigation__catalog ul {
  flex-wrap: wrap;
}
/* line 123, _header.scss */
.header__navigation__catalog ul li {
  min-width: 33%;
  margin: 7px 0;
}
/* line 126, _header.scss */
.header__navigation__catalog ul li a {
  white-space: nowrap;
  font-size: 15px;
  color: #000000;
}
/* line 130, _header.scss */
.header__navigation__catalog ul li a:hover {
  color: rgba(0, 0, 0, 0.6);
}
/* line 138, _header.scss */
.header__navigation__user ul {
  justify-content: flex-end;
}
/* line 140, _header.scss */
.header__navigation__user ul li {
  margin-left: 24px;
}
/* line 142, _header.scss */
.header__navigation__user ul li a {
  padding-right: 30px;
  position: relative;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  display: inline-block;
  height: 23px;
  line-height: 23px;
}
/* line 151, _header.scss */
.header__navigation__user ul li a:hover {
  text-decoration: none;
  color: #8111AE;
  opacity: 0.8;
}
/* line 156, _header.scss */
.header__navigation__user ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 23px;
  min-height: 23px;
}
/* line 169, _header.scss */
.header__navigation__user__profile:before {
  background: url("../assets/img/header_user.svg") no-repeat center;
  background-size: contain;
}
/* line 175, _header.scss */
.header__navigation__user__basket:before {
  background: url("../assets/img/header_cart.svg") no-repeat center;
  background-size: contain;
}
/* line 179, _header.scss */
.header__navigation__user__basket__count {
  position: absolute;
  top: 0;
  right: 16px;
  width: 12px;
  height: 12px;
  font-size: 11px;
  color: white;
  background-color: #8111AE;
  border-radius: 50%;
  text-align: center;
  line-height: 12px;
}
/* line 195, _header.scss */
.header__shower {
  margin-bottom: 80px;
  position: relative;
}
/* line 198, _header.scss */
.header__shower__wrapp {
  height: 600px;
  background: url("../assets/img/bg/image.jpg") no-repeat center;
  background-size: cover;
}
/* line 204, _header.scss */
.header__breadcrumbs {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
/* line 212, _header.scss */
.header__breadcrumbs__link {
  display: flex;
  flex-grow: 1;
  padding: 0 15px;
  margin: 0;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
}
/* line 221, _header.scss */
.header__breadcrumbs__link li {
  position: relative;
  margin-right: 5px;
}
/* line 225, _header.scss */
.header__breadcrumbs__link li:last-child:after {
  content: "";
}
/* line 229, _header.scss */
.header__breadcrumbs__link li:after {
  content: "->";
  color: rgba(0, 0, 0, 0.3);
  font-family: "Cormorant",sans-serif;
}
/* line 234, _header.scss */
.header__breadcrumbs__link li a {
  font-weight: 300;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}
/* line 238, _header.scss */
.header__breadcrumbs__link li a:hover {
  color: rgba(0, 0, 0, 0.6);
}
/* line 244, _header.scss */
.header__breadcrumbs__search {
  position: relative;
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  padding: 0 2px;
  align-items: center;
}
/* line 251, _header.scss */
.header__breadcrumbs__search > input {
  height: 100%;
  flex-grow: 1;
  background-color: transparent !important;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}
/* line 260, _header.scss */
.header__breadcrumbs__search > input:focus {
  border: none;
  outline: none;
}
/* line 265, _header.scss */
.header__breadcrumbs__search label {
  width: 15px;
  height: 15px;
  background: url("../assets/img/search.svg") no-repeat center;
  background-size: contain;
  margin: 0;
  cursor: pointer;
  opacity: 0.4;
}
/* line 273, _header.scss */
.header__breadcrumbs__search label:hover {
  opacity: 0.8;
}
/* line 276, _header.scss */
.header__breadcrumbs__search label input {
  display: none;
}

/* line 284, _header.scss */
.catalog-collapse__btn {
  display: none;
  background: transparent;
  border: none;
  outline: none;
  color: #8111AE;
  font-size: 18px;
  padding-right: 22px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 296, _header.scss */
.catalog-collapse__btn:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 8px;
  background: url("../assets/img/ico/arrow.svg") no-repeat center;
  background-size: contain;
}

/* line 310, _header.scss */
.mobil-collapse__btn {
  position: absolute;
  left: 15px;
  top: 11px;
  width: 24px;
  height: 16px;
  border: none;
  outline: none;
  display: none;
  background: url("../assets/img/ico/bt_burger.svg") no-repeat center transparent;
  background-size: contain;
}
/* line 321, _header.scss */
.mobil-collapse__btn:focus {
  border: none;
  outline: none;
}
/* line 326, _header.scss */
.mobil-collapse ul.mobil-collapse__sub-menu {
  display: none;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
/* line 332, _header.scss */
.mobil-collapse ul.mobil-collapse__sub-menu .header__breadcrumbs__search {
  margin-top: 15px;
}
/* line 335, _header.scss */
.mobil-collapse ul.mobil-collapse__sub-menu .header__navigation__tel__link {
  display: none;
}
/* line 338, _header.scss */
.mobil-collapse ul.mobil-collapse__sub-menu li {
  margin-bottom: 0;
}
/* line 340, _header.scss */
.mobil-collapse ul.mobil-collapse__sub-menu li a.mobil-collapse__sub-menu__call-back {
  text-decoration: underline;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  white-space: nowrap;
  margin-bottom: 15px;
  display: inline-block;
}
/* line 348, _header.scss */
.mobil-collapse ul.mobil-collapse__sub-menu li a.mobil-collapse__sub-menu__call-back:hover {
  color: #000000;
}

/* ╨и╨░╨┐╨║╨░ */
/* line 2, _slider.scss */
.slider__full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* line 6, _slider.scss */
.slider__full-screen__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/slider/bg_image.jpg") no-repeat center;
  background-size: cover;
}
/* line 15, _slider.scss */
.slider__full-screen__control {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 90px;
}
/* line 27, _slider.scss */
.slider__full-screen__control ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  height: 100%;
  justify-content: center;
}
/* line 37, _slider.scss */
.slider__full-screen__control ul li {
  height: 100%;
  width: 30%;
  max-width: 160px;
  margin: 0 8px;
}
/* line 44, _slider.scss */
.slider__full-screen__control__prev {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url("../assets/img/slider/arrowPrw.svg") no-repeat center rgba(255, 255, 255, 0.4);
  background-size: auto 40%;
}
/* line 51, _slider.scss */
.slider__full-screen__control__next {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url("../assets/img/slider/arrowNxt.svg") no-repeat center rgba(255, 255, 255, 0.4);
  background-size: auto 40%;
}
/* line 61, _slider.scss */
.slider__bg-1 {
  background: url("../assets/img/slider/1.jpg") no-repeat center;
  background-size: cover;
}
/* line 65, _slider.scss */
.slider__bg-2 {
  background: url("../assets/img/slider/2.jpg") no-repeat center;
  background-size: cover;
}
/* line 69, _slider.scss */
.slider__bg-3 {
  background: url("../assets/img/slider/3.jpg") no-repeat center;
  background-size: cover;
}

/* ╨б╨╗╨░╨╣╨┤╨╡╤А */
/* line 1, _pg-prime.scss */
.content-block {
  margin-top: 50px;
}
/* line 3, _pg-prime.scss */
.content-block span {
  font-size: 15px;
}
/* line 6, _pg-prime.scss */
.content-block__header {
  position: relative;
  margin-bottom: 30px;
  font-family: 'Cormorant', serif;
}
/* line 10, _pg-prime.scss */
.content-block__header h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
  color: #000000;
  line-height: 34px;
}
/* line 18, _pg-prime.scss */
.content-block__header a {
  position: absolute;
  height: 34px;
  top: 0;
  right: 30px;
  color: #8111AE;
  padding-right: 18px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  line-height: 34px;
}
/* line 30, _pg-prime.scss */
.content-block__header a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 100%;
  background: url("../assets/img/arr.svg") no-repeat center;
  background-size: contain;
}
/* line 40, _pg-prime.scss */
.content-block__header a:hover {
  opacity: 0.8;
}
/* line 45, _pg-prime.scss */
.content-block__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 51, _pg-prime.scss */
.content-block__body__card {
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  position: relative;
  margin-bottom: 30px;
}
/* line 56, _pg-prime.scss */
.content-block__body__card__img {
  padding: 20px;
  width: 100%;
  height: 250px;
  position: relative;
}
/* line 62, _pg-prime.scss */
.content-block__body__card__img .bg-1 {
  background: url("../assets/img/card/1.png") no-repeat center;
  background-size: contain;
}
/* line 66, _pg-prime.scss */
.content-block__body__card__img .bg-2 {
  background: url("../assets/img/card/2.png") no-repeat center;
  background-size: contain;
}
/* line 70, _pg-prime.scss */
.content-block__body__card__img .bg-3 {
  background: url("../assets/img/card/3.png") no-repeat center;
  background-size: contain;
}
/* line 74, _pg-prime.scss */
.content-block__body__card__img .bg-4 {
  background: url("../assets/img/card/4.png") no-repeat center;
  background-size: contain;
}
/* line 79, _pg-prime.scss */
.content-block__body__card__img__bg {
  width: 100%;
  height: 100%;
  background-size: contain;
}
/* line 85, _pg-prime.scss */
.content-block__body__card__info {
  padding: 5px 15px;
  position: relative;
}
/* line 88, _pg-prime.scss */
.content-block__body__card__info__title {
  display: block;
  color: #8111AE;
}
/* line 91, _pg-prime.scss */
.content-block__body__card__info__title:hover {
  color: #8111AE;
}
/* line 95, _pg-prime.scss */
.content-block__body__card__info__sub-title {
  display: block;
  color: #000000;
  white-space: nowrap;
}
/* line 100, _pg-prime.scss */
.content-block__body__card__info__value {
  position: absolute;
  top: 5px;
  right: 15px;
  color: rgba(0, 0, 0, 0.3);
}
/* line 107, _pg-prime.scss */
.content-block__body__card__price {
  padding: 10px 15px;
  position: relative;
}
/* line 110, _pg-prime.scss */
.content-block__body__card__price span {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
/* line 118, _pg-prime.scss */
.content-block__body__card__price span s {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}
/* line 125, _pg-prime.scss */
.content-block__body.column-mod {
  flex-direction: column;
  margin-bottom: 40px;
}
/* line 128, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
}
/* line 136, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__img {
  padding: 0 30px;
  width: 25%;
  height: auto;
  position: relative;
  flex-shrink: 0;
}
/* line 143, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__img .bg-1 {
  background: url("../assets/img/card/n1.jpg") no-repeat center;
  background-size: contain;
}
/* line 147, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__img .bg-2 {
  background: url("../assets/img/card/n2.jpg") no-repeat center;
  background-size: contain;
}
/* line 151, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__img .bg-3 {
  background: url("../assets/img/card/n3.jpg") no-repeat center;
  background-size: contain;
}
/* line 156, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__img__bg {
  width: 100%;
  padding-top: 100%;
  height: 1px;
  background-size: contain;
}
/* line 163, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__info {
  padding: 0;
}
/* line 165, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__info__title {
  display: inline-block;
  color: #8111AE;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px;
}
/* line 171, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__info__title:hover {
  color: #8111AE;
}
/* line 175, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__info__time {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 17px;
  margin-right: 10px;
  font-weight: 500;
}
/* line 182, _pg-prime.scss */
.content-block__body.column-mod .content-block__body__card__info__par {
  display: block;
  color: #000000;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 10px;
  font-weight: 300;
}

/* line 195, _pg-prime.scss */
.comment-about {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 80px 0 35px 0;
  margin-bottom: 80px;
}
/* line 199, _pg-prime.scss */
.comment-about h2 {
  font-family: 'Cormorant', serif;
  color: #000000;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 207, _pg-prime.scss */
.comment-about__slider {
  position: relative;
}
/* line 209, _pg-prime.scss */
.comment-about__slider__temp-control {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 216, _pg-prime.scss */
.comment-about__slider__temp-control .slide-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 16px;
  background: url("../assets/img/arrowPrw.svg") no-repeat center;
  background-size: contain;
}
/* line 226, _pg-prime.scss */
.comment-about__slider__temp-control .slide-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 16px;
  background: url("../assets/img/arrowNxt.svg") no-repeat center;
  background-size: contain;
}
/* line 236, _pg-prime.scss */
.comment-about__slider__temp-control .slide-curr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* line 244, _pg-prime.scss */
.comment-about__slider__temp-control .slide-curr label {
  margin: 0 6px;
  height: 10px;
  width: 10px;
  border: solid 1px #8111AE;
  background-color: #8111AE;
  border-radius: 50%;
  cursor: pointer;
}
/* line 252, _pg-prime.scss */
.comment-about__slider__temp-control .slide-curr label.active {
  background-color: transparent;
}
/* line 259, _pg-prime.scss */
.comment-about__slider__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 30px;
}
/* line 267, _pg-prime.scss */
.comment-about__slider__item__avatar {
  padding: 0 30px;
  width: 30%;
  min-height: 1px;
  flex-shrink: 0;
}
/* line 272, _pg-prime.scss */
.comment-about__slider__item__avatar__wrap {
  min-height: 1px;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
}
/* line 281, _pg-prime.scss */
.comment-about__slider__item__avatar__wrap img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
/* line 291, _pg-prime.scss */
.comment-about__slider__item__info__time {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}
/* line 296, _pg-prime.scss */
.comment-about__slider__item__info__user {
  font-size: 15px;
  color: #8111AE;
  margin-bottom: 10px;
}
/* line 301, _pg-prime.scss */
.comment-about__slider__item__info__comment {
  font-size: 15px;
  color: #000000;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 16px;
}

/* ╨У╨╗╨░╨▓╨╜╨░╤П */
/* line 1, _pg-about-us.scss */
.about-us {
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;
}
/* line 5, _pg-about-us.scss */
.about-us:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/image_about_us.jpg") no-repeat center;
  background-size: cover;
  opacity: 0.2;
}
/* line 16, _pg-about-us.scss */
.about-us h2 {
  font-family: 'Cormorant', serif;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 27px;
  color: #000000;
  line-height: 34px;
  margin-bottom: 30px;
}
/* line 26, _pg-about-us.scss */
.about-us p {
  color: #000000;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 5px;
}
/* line 32, _pg-about-us.scss */
.about-us__video {
  position: relative;
  min-height: 1px;
  padding-top: 58%;
  margin: 40px 0;
}
/* line 37, _pg-about-us.scss */
.about-us__video__wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 35px;
  left: 0;
  top: 0;
}
/* line 44, _pg-about-us.scss */
.about-us__video__wrap:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
  border-top: 10px solid rgba(129, 17, 174, 0.2);
  border-left: 10px solid rgba(129, 17, 174, 0.2);
}
/* line 54, _pg-about-us.scss */
.about-us__video__wrap:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  border-bottom: 10px solid rgba(129, 17, 174, 0.6);
  border-right: 10px solid rgba(129, 17, 174, 0.6);
}
/* line 64, _pg-about-us.scss */
.about-us__video__wrap__item {
  width: 100%;
  height: 100%;
  background: url("../assets/img/video.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}
/* line 70, _pg-about-us.scss */
.about-us__video__wrap__item:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: url("../assets/img/ico/icon_youtb.svg") no-repeat center;
  background-size: contain;
}

/* line 87, _pg-about-us.scss */
.about-cur {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 90, _pg-about-us.scss */
.about-cur__block {
  margin-bottom: 30px;
}
/* line 92, _pg-about-us.scss */
.about-cur__block h3 {
  font-size: 17px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 14px;
}
/* line 98, _pg-about-us.scss */
.about-cur__block__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 104, _pg-about-us.scss */
.about-cur__block__body span {
  width: 10%;
  font-size: 15px;
  color: #000000;
  font-weight: 300;
  margin-bottom: 8px;
}
/* line 111, _pg-about-us.scss */
.about-cur__block__body p {
  width: 89%;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  margin-bottom: 8px;
}

/* ╨Ю ╨╜╨░╤Б */
/* line 2, _footer.scss */
.footer__subscribe {
  padding: 80px 0;
  background: url("../assets/img/bg/image_2.jpg") no-repeat center;
  background-size: cover;
}
/* line 6, _footer.scss */
.footer__subscribe h2 {
  color: white;
  font-size: 27px;
  font-family: 'Cormorant', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 14, _footer.scss */
.footer__subscribe form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 38px;
}
/* line 23, _footer.scss */
.footer__subscribe__input {
  margin: 0 20px;
  height: 100%;
  flex-grow: 1;
  position: relative;
  background-color: white;
  border-radius: 18px;
  padding: 0 15px;
}
/* line 31, _footer.scss */
.footer__subscribe__input input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-family: "Alegreya Sans",sans-serif;
}
/* line 39, _footer.scss */
.footer__subscribe__input input:focus {
  outline: none;
  border: none;
}
/* line 45, _footer.scss */
.footer__subscribe__submit {
  margin: 0;
  height: 100%;
  position: relative;
}
/* line 49, _footer.scss */
.footer__subscribe__submit input {
  height: 100%;
  background-color: #8111AE;
  color: white;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  padding: 3px 20px 0 20px;
  border-radius: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 61, _footer.scss */
.footer__subscribe__submit input:focus {
  border: none;
  outline: none;
}
/* line 65, _footer.scss */
.footer__subscribe__submit input:hover {
  background-color: #4B1177;
}
/* line 71, _footer.scss */
.footer__body {
  padding-top: 80px;
}
/* line 74, _footer.scss */
.footer__body__logo a {
  height: auto;
  display: inline-block;
  padding: 0 40px;
}
/* line 78, _footer.scss */
.footer__body__logo a img {
  width: 100%;
}
/* line 85, _footer.scss */
.footer__body__catalog > a {
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  text-transform: uppercase;
  display: inline-block;
}
/* line 93, _footer.scss */
.footer__body__catalog > a:hover {
  color: #000000;
  text-decoration: none;
}
/* line 98, _footer.scss */
.footer__body__catalog ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
}
/* line 103, _footer.scss */
.footer__body__catalog ul li {
  margin-bottom: 5px;
}
/* line 105, _footer.scss */
.footer__body__catalog ul li a {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}
/* line 109, _footer.scss */
.footer__body__catalog ul li a:hover {
  color: rgba(0, 0, 0, 0.6);
}
/* line 117, _footer.scss */
.footer__body__nav ul {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
/* line 127, _footer.scss */
.footer__body__nav ul li {
  min-width: 50%;
  margin-bottom: 15px;
}
/* line 130, _footer.scss */
.footer__body__nav ul li a {
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: inline-block;
}
/* line 137, _footer.scss */
.footer__body__nav ul li a:hover {
  color: #000000;
  text-decoration: none;
}
/* line 146, _footer.scss */
.footer__body__contact p {
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  text-align: right;
  margin-bottom: 25px;
}
/* line 153, _footer.scss */
.footer__body__contact__tel {
  font-size: 25px;
  display: block;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
  width: 100%;
  margin-bottom: 3px;
}
/* line 161, _footer.scss */
.footer__body__contact__tel:hover {
  text-decoration: none;
  color: #8111AE;
  opacity: 0.8;
}
/* line 167, _footer.scss */
.footer__body__contact__mail {
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
/* line 175, _footer.scss */
.footer__body__contact__mail:hover {
  color: #8111AE;
}
/* line 179, _footer.scss */
.footer__body__contact__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
/* line 185, _footer.scss */
.footer__body__contact__social a:hover {
  opacity: 0.6;
}
/* line 191, _footer.scss */
.footer__body__copyright {
  margin-top: 30px;
  padding-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}
/* line 195, _footer.scss */
.footer__body__copyright p {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 8px;
}

/* line 206, _footer.scss */
.footer-catalog-collapse__btn {
  display: none;
  background: transparent;
  border: none;
  outline: none;
  color: #8111AE;
  font-size: 18px;
  padding-right: 22px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
/* line 218, _footer.scss */
.footer-catalog-collapse__btn:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 8px;
  background: url("../assets/img/ico/arrow.svg") no-repeat center;
  background-size: contain;
}

/* ╨Я╨╛╨┤╨▓╨░╨╗ */
@media screen and (max-width: 1199px) {
  /* line 2, _media.scss */
  .header__navigation__nav ul li {
    margin-right: 12px;
  }

  /* line 5, _media.scss */
  .header__item {
    flex-grow: 1;
  }

  /* line 8, _media.scss */
  .header__navigation__call-back {
    flex-grow: 2;
  }

  /* line 11, _media.scss */
  .header__navigation__catalog ul li {
    min-width: 50%;
    margin: 4px 0;
  }

  /* line 15, _media.scss */
  .header__shower__wrapp {
    height: 500px;
  }

  /* line 18, _media.scss */
  .header__shower {
    margin-bottom: 60px;
  }

  /* line 21, _media.scss */
  .footer__body__logo a {
    padding: 0 20px;
  }

  /* line 24, _media.scss */
  .slider__full-screen__control {
    width: 60%;
  }

  /* line 27, _media.scss */
  .about-cur__block__body span {
    width: 14%;
  }

  /* line 30, _media.scss */
  .about-cur__block__body p {
    width: 85%;
  }
}
@media screen and (max-width: 991px) {
  /* line 35, _media.scss */
  .header__item {
    order: 2;
  }

  /* line 38, _media.scss */
  .header__navigation__call-back {
    order: 0;
  }

  /* line 41, _media.scss */
  .header__navigation__nav {
    order: 0;
  }

  /* line 44, _media.scss */
  .header__navigation__tel {
    order: 1;
  }

  /* line 47, _media.scss */
  .header__navigation__user {
    order: 1;
    justify-content: flex-end;
  }

  /* line 51, _media.scss */
  .mobil-collapse.collapse {
    display: none;
  }

  /* line 54, _media.scss */
  ul.mobil-collapse.collapsing {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px 15px;
    left: 0;
    top: 40px;
    overflow: hidden;
  }
  /* line 62, _media.scss */
  ul.mobil-collapse.collapsing:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ddd4e1;
  }

  /* line 72, _media.scss */
  .mobil-collapse.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* line 77, _media.scss */
  .mobil-collapse.collapsing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* line 82, _media.scss */
  .mobil-collapse__btn {
    display: block;
  }

  /* line 85, _media.scss */
  ul.mobil-collapse {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px 15px;
    left: 0;
    top: 40px;
  }
  /* line 92, _media.scss */
  ul.mobil-collapse:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ddd4e1;
  }

  /* line 102, _media.scss */
  .mobil-collapse ul.mobil-collapse__sub-menu {
    display: flex;
  }

  /* line 105, _media.scss */
  .header__navigation__tel:before {
    width: 0;
  }

  /* line 108, _media.scss */
  .header__navigation__tel {
    text-align: center;
  }

  /* line 111, _media.scss */
  .header__navigation__tel .header__navigation__tel__link {
    margin: 0 auto;
  }

  /* line 114, _media.scss */
  .header__navigation__user__profile {
    font-size: 0 !important;
  }

  /* line 117, _media.scss */
  .header__navigation__user__basket {
    font-size: 0 !important;
  }

  /* line 120, _media.scss */
  .header__navigation__user ul li {
    margin-left: 12px;
  }

  /* line 123, _media.scss */
  .header__navigation__catalog ul li {
    min-width: 33%;
  }

  /* line 126, _media.scss */
  .comment-about__slider__item {
    flex-direction: column;
  }

  /* line 129, _media.scss */
  .comment-about__slider__item__avatar {
    width: 40%;
  }

  /* line 132, _media.scss */
  .comment-about__slider__item__info {
    padding-top: 20px;
  }

  /* line 135, _media.scss */
  .comment-about__slider__item__info__time {
    text-align: center;
  }

  /* line 138, _media.scss */
  .comment-about__slider__item__info__user {
    text-align: center;
  }

  /* line 141, _media.scss */
  .content-block__body.column-mod .content-block__body__card__img {
    padding: 0 25px 0 0;
  }

  /* line 144, _media.scss */
  .footer__body__nav ul li {
    min-width: 100%;
  }

  /* line 147, _media.scss */
  .slider__full-screen__control {
    width: 95%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    justify-content: space-between;
  }
  /* line 152, _media.scss */
  .slider__full-screen__control ul {
    display: none;
  }

  /* line 156, _media.scss */
  .about-cur__block__body span {
    width: 18%;
  }

  /* line 159, _media.scss */
  .about-cur__block__body p {
    width: 81%;
  }
}
@media screen and (max-width: 767px) {
  /* line 164, _media.scss */
  .header__navigation__catalog ul li {
    min-width: 50%;
    margin: 1px 0;
  }

  /* line 168, _media.scss */
  .content-block__header a {
    top: auto;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }

  /* line 174, _media.scss */
  .content-block__header {
    padding-bottom: 25px;
  }

  /* line 177, _media.scss */
  .footer__body__contact__tel {
    font-size: 24px;
    white-space: nowrap;
  }

  /* line 181, _media.scss */
  .footer__body__contact p {
    margin-bottom: 15px;
  }

  /* line 184, _media.scss */
  .footer__body__nav ul li {
    margin-bottom: 5px;
  }

  /* line 187, _media.scss */
  .about-cur__block__body span {
    width: 25%;
  }

  /* line 190, _media.scss */
  .about-cur__block__body p {
    width: 74%;
  }
}
@media screen and (max-width: 574px) {
  /* line 195, _media.scss */
  .mobil-collapse__sub-menu .header__navigation__tel__link {
    display: block !important;
  }

  /* line 198, _media.scss */
  .mobil-collapse ul.mobil-collapse__sub-menu {
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    padding-top: 10px;
  }

  /* line 205, _media.scss */
  .mobil-collapse ul.mobil-collapse__sub-menu li {
    margin-bottom: 4px;
  }

  /* line 208, _media.scss */
  .catalog-collapse.collapse {
    display: none;
  }

  /* line 211, _media.scss */
  .catalog-collapse__btn {
    display: block;
  }

  /* line 214, _media.scss */
  .catalog-collapse.show {
    display: block;
  }

  /* line 217, _media.scss */
  ul.catalog-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 20px;
  }
  /* line 224, _media.scss */
  ul.catalog-collapse:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e5e5e5;
    width: 100%;
    height: 100%;
  }

  /* line 234, _media.scss */
  .comment-about__slider__item__avatar {
    width: 80%;
  }

  /* line 237, _media.scss */
  .content-block__body.column-mod .content-block__body__card {
    flex-direction: column;
    align-items: center !important;
  }

  /* line 241, _media.scss */
  .content-block__body.column-mod .content-block__body__card__img {
    width: 60%;
    margin-bottom: 20px;
  }

  /* line 245, _media.scss */
  .content-block__body.column-mod .content-block__body__card__info__time {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  /* line 250, _media.scss */
  .content-block__body.column-mod .content-block__body__card__info__title {
    width: 100%;
    text-align: center;
  }

  /* line 254, _media.scss */
  .footer__subscribe form {
    flex-wrap: wrap;
  }

  /* line 257, _media.scss */
  .footer__subscribe__input {
    margin: 0 0 12px 0;
  }

  /* line 260, _media.scss */
  .footer__subscribe__submit {
    width: 100%;
  }

  /* line 263, _media.scss */
  .footer__subscribe__submit input {
    width: 100%;
  }

  /* line 266, _media.scss */
  .footer__body__contact p {
    text-align: center;
    margin-top: 15px;
  }

  /* line 270, _media.scss */
  .footer__body__contact__tel {
    text-align: center;
  }

  /* line 273, _media.scss */
  .footer__body__contact__mail {
    text-align: center;
    margin-bottom: 15px;
  }

  /* line 277, _media.scss */
  .footer__body__contact__social {
    justify-content: center;
  }

  /* line 280, _media.scss */
  .footer__body__nav ul {
    padding: 0;
  }

  /* line 283, _media.scss */
  .footer__body__nav ul li {
    min-width: 35%;
  }

  /* line 286, _media.scss */
  .footer__body__nav ul li:nth-child(2n) {
    margin-left: auto;
  }

  /* line 289, _media.scss */
  .footer__body {
    padding-top: 40px;
  }

  /* line 292, _media.scss */
  .footer__subscribe {
    padding: 40px 0 80px 0;
  }

  /* line 295, _media.scss */
  .footer__body__catalog > a {
    display: none;
  }

  /* line 298, _media.scss */
  .footer-catalog-collapse__btn {
    display: block;
  }

  /* line 301, _media.scss */
  .footer__body__catalog ul {
    text-align: center;
  }

  /* line 304, _media.scss */
  .footer-catalog-collapse.collapse {
    display: none;
  }

  /* line 307, _media.scss */
  .footer__body__catalog {
    padding-top: 40px;
  }

  /* line 310, _media.scss */
  .footer-catalog-collapse.show {
    display: block;
  }

  /* line 313, _media.scss */
  .about-us__video__wrap {
    padding: 25px;
  }

  /* line 316, _media.scss */
  .about-us__video__wrap:before {
    left: 5px;
    top: 5px;
  }

  /* line 320, _media.scss */
  .about-us__video__wrap:after {
    right: 5px;
    bottom: 5px;
  }

  /* line 324, _media.scss */
  .about-cur__block__body span {
    width: 30%;
  }

  /* line 327, _media.scss */
  .about-cur__block__body p {
    width: 69%;
  }

  /* line 330, _media.scss */
  .header__navigation__catalog ul li a {
    white-space: normal;
  }
}
/* ╨Ь╨╡╨┤╨╕╨░ ╨╖╨░╨┐╤А╨╛╤Б╤Л */
